form {
  margin: 15px;
}

p {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 20px;
}

h1 {
  line-height: 30px;
}

li {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.container {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 5px;
}

.temp-units {
  text-align: right;
  margin-right: 50px;
}
.temperature {
  font-size: 60px;
  margin-top: 0px;
  line-height: 1;
}

.units {
  font-size: 18px;
  position: relative;
  top: -30px;
}

.conditions,
.max-temp,
.min-temp {
  text-align: left;
  margin-left: 50px;
}

.forecast {
  margin-bottom: 15px;
}

.data-temp .active {
  color: black;
  cursor: default;
}
